.container {
  display: block;
  margin: 80px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 28vw;
  height: 20vw;
  background-color: white;
  text-align: center;
}
button {
    padding: 2px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius:4px 4px 4px 4px;
    font-size: 10px;
    background-color: #790faa;
    color: white;
    text-align:center;
    align-items: center;    
}
header {
    display:flex;
    justify-content: space-between;
}
.answer {
    padding: 2px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius:4px 4px 4px 4px;
    font-size: 10px;
    max-width: 25%;
    background-color: #790faa;
    color: white; 
    text-align:center;
    align-items:left; 
}
#questions {
    display:none;
}
#questionText {
    Justify-content: center;
    font-weight: bold;
}
#questionDetail {
    color:red;
    font-size: 20px;
}
.initials {
    display: none;
}
#highScoreList {
    text-align:left;
    display:none;
    margin-left: 95px;
    justify-content:center;
    background-color: rgb(217, 179, 235);
    width:175px;
}
.enterScore {
    display:none;
}